<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/insurance.js"></script>
    <style>
        .SearchDataTable {
            border-collapse: collapse;
            width: 100%;
        }

        .SearchDataCell {
            text-align: left;
            padding: 8px;
        }

        .SearchDataRow {
            background-color: #f2f2f2;
        }

        .warningColor {
            border-color: red;
        }
    </style>
</head>
<body>
 @RenderBody()
</body>
</html>
